html{
    background-color: #262523;
    }
#pageHeading{
    font-family: 'Abril Fatface', cursive;
    color: #F2B705;
    font-size: 65px;
    letter-spacing: 3px;
    text-align: center;
    margin-top: 100px;
}

.entryArea{
    font-family: 'Oswald', sans-serif;
    background-color: #D97904;
    color: #D97904;
    margin-left: 50%;
    /*  horizontally centering an element with a dynamic width */
    transform: translateX(-50%);
    /* round corners */
    border-radius: 15px;
    box-shadow: 5px 13px 13px rgb(0 0 0 / 0.2);
    height: 500px;
    padding-top: 30px;
    padding-left: 40px;
    font-size: 25px;
    background-image: url(/css/images/background_.jpg);
    background-size: cover;
}
#clientChoice{
    font-family: 'Karla', sans-serif;
    font-size: 20px;
}
#login, #signUp{
    font-family: 'Karla', sans-serif;
    font-weight: bold;
    font-size: 25px;
    background-color: #F2B705;
    color: #262523;
    width: 180px;
    height: 50px;
    border-radius: 15px;

}
.pageBackground{
    background-image: url(/css/images/sign_up.jpg);
    background-size: cover;
    padding-bottom: 50px;
    padding-top: 50px;
}
#signUpPageHeading{
    font-family: 'Abril Fatface', cursive;
    color: #F2B705;
    font-size: 65px;
    letter-spacing: 1px;
    text-align: center;
}
.detailsContainer{
    width: 550px;
    height: 680px;
    margin-left: 50%;
    /*  horizontally centering an element with a dynamic width */
    transform: translateX(-50%);
    /* round corners */
    border-radius: 15px;
    box-shadow: 5px 13px 13px rgb(0 0 0 / 0.2);
    background-color: #1a1a19;
    opacity: 90%;
}
.formData{
    font-family: 'Oswald', sans-serif;
    text-align: center;
    font-size: 30px;
    color: #D97904;
    padding-bottom: 15px;
}
#fName, #lName, #eMail, #password, #confirmPass, #username {
    width: 220px;
    height: 40px;
    border-radius: 15px;
}
#submit{
    font-family: 'Karla', sans-serif;
    font-size: 25px;
    width: 180px;
    height: 50px;
    margin-top: 25px;
    background-color: #F2CB05;
    color: #262523;
    border-radius: 15px;
}
.menuTable {
    margin-left: 50%;
    /*  horizontally centering an element with a dynamic width */
    transform: translateX(-50%);
    color: #F2B705;
    font-family: 'Karla', sans-serif;
    font-size: 25px;
    text-align: center;
    width: 80%;
    border: #F2B705 1px solid;
}
th{
    font-family: 'Oswald', sans-serif;
    color: #D97904;
    font-size: 30px;
}
